/* Body */

html, body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #eee !important;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

/* GitHub badges */

.github {
    padding-top: 0.5em;
}

/* Form */

#apiForm {
    padding-top: 1em;
    padding-bottom: 1em;
}

#apiForm div {
    padding-bottom: 0.5em;
}

#apiForm button {
    color: #000;
    background-color: #ccc;
}

/* JSON viewer */

#json-renderer {
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

/* Utils */

.auto-center {
    margin: 0 auto !important;
}